<div class="container card d-flex justify-content-center align-items-center mt-5" style="width: 500px;">
    <h1>Add Tasks</h1>
    <div class="row">
        <form  style="width: 400px;" >
            <div class="mb-3">
                <label for="title" class="form-label">Email address</label>
                <input type="text" class="form-control" id="title" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
                <label for="title" class="form-label">Email address</label>
                <input type="text" class="form-control" id="title" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">description</label>
                <input type="text" class="form-control" id="description" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
                <label for="dueDate" class="form-label">dueDate</label>
                <input type="date" class="form-control" id="dueDate" aria-describedby="emailHelp">
            </div>


            <div class="mb-3">
                    <label for="select">priority</label>
                    <select class="form-control" id="select">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                    </select>
            </div>






            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>

            </div>

        </form>

    </div>

</div>