<div class="container-fluid full-height d-flex flex-column">
    <header class="bg-primary text-white text-center py-5 rounded">
        <h1 class="display-3">Welcome to Task Manager</h1>
        <p class="lead">Efficiently organize and manage your tasks!</p>
    </header>
  
    <div class="flex-grow-1 d-flex flex-column align-items-center justify-content-center bg-light py-5">
        <h2 class="text-secondary mb-4">Your Tasks Await!</h2>
        <p class="text-muted mb-4">Start by viewing your tasks or managing your users.</p>
        <div>
            <button class="btn btn-light btn-lg mx-2 shadow" [routerLink]="['/task-list']">View Tasks</button>
            <button class="btn btn-light btn-lg mx-2 shadow">Manage Users</button>
        </div>
    </div>
  
    <footer class="text-center mt-auto py-3 bg-light">
        <p class="m-0">&copy; 2024 Task Manager. All rights reserved.</p>
    </footer>
  </div>
  